body{
    margin: 0;
    font-family: Georgia;
    text-align: justify;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    padding: 10px;
    margin: auto;
    overflow: hidden;
    background-color: #ECE7D1;
}

.navbar a{
    text-decoration: none;
    display: flex;
    text-align: center;
    padding: 10px;
}

.navbar li{
    float: left;
}

.home-container{
    align-items: flex-start;
    gap: 30px;
    margin: 20px;
}

.home-image img{
    max-width: 900px;
    height: auto;
    border-radius: 8px;
}

.about-container{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 20px;
}

.about-image img{
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.about-text p{
    margin-bottom: 15px;
}

/* Container Utama */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px; /* Jarak antar foto */
    padding: 20px 0;
}

.art-card {
    background: #fff;
    transition: transform 0.3s ease;
}

.art-card:hover {
    transform: translateY(-5px); 
}

.art-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.art-info h3 {
    font-size: 1.1rem;
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.art-info p {
    color: #666;
    font-style: italic;
}