{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <h1 style="text-align: center; margin-top: 20px;">EXPLORE THE ART</h1>
    
    <div class="gallery-grid"> 
        {% for art in all_art %}
        <div class="booklet-item">
        <div class="art-card">
            <div class="scan-wrapper js-scan-trigger" data-url="{{ url_for('art_detail', art_id=art.id) }}">
            <div class="scan-line"></div>
            <img src="{{ url_for('static', filename='image/' + art.image_path) }}" alt="{{ art.name }}">
            </div>
            
            <div class="art-info">
                <h3>{{ art.name }}</h3>
                <p>{{ art.author.name }}</p>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}