{% extends 'base.html' %}

{% block body %}

<div class="review-container">
        <header style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Arts With Love</h1>
            <a href="{{ url_for('art') }}" style="text-decoration: none; color: #007bff;">← Back to Gallery</a>
        </header>

        {% if reviews %}
            <div class="review-grid">
                {% for log in reviews %}
                <div class="review-card">
                    <div>
                        <div class="review-header">
                            <span class="visitor-name">{% if log.visitor_data %}
                                                            {{ log.visitor_data.name }}
                                                        {% else %}
                                                            Visitor #{{ log.visitor_id }}
                                                        {% endif %}
                            </span>
                            
                            {% if log.art_id %}
                                <br><span class="art-tag">Review untuk: <strong>{{ log.art_data.name if log.art_data else 'Selected Artwork' }}</strong></span>
                            {% endif %}
                        </div>
                        
                        {% if log.rating %}
                            <strong>Art Review:</strong><br>
                                <div class="rating-stars">
                                {{ "★" * log.rating }}{{ "☆" * (5 - log.rating) }}
                                </div>
                        {% endif %}

                        {% if log.review_art %}
                            <p class="review-text">"{{ log.review_art }}"</p>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}
            </div>
            
            {% else %}
            <div class="empty-state">
                <h3>Belum ada ulasan.</h3>
            </div>

        {% endif %}
    </div>

{% endblock %}